
<body class="background">
<div class="search_menu">
     <form action="/artist-search" method="GET">
        <label for="name"></label>
         <input "type="text" name="name" id="name" placeholder="insert the name of an artist">
        <div><button class="button" type="submit">Search for an Artist</button></div>
    </form>
</div>
</body>
